.title-clients {
    font-weight: bold;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.clients .list-clients {
    display: flex;
}

.clients .item-clients {
    width: 170px;
    height: 92px;
    fill: var(--fon-ikon);
}

.clients .item-clients:not(:last-child) {
    margin-right: 30px;
}

.clients .logo-client-icon {
    fill: var(--fon-ikon);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link-client {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .link-client:hover .logo-client-icon,
.clients .link-client:focus .logo-client-icon {
    fill: var(--accent-color);
}

.clients .link-client:hover,
.clients .link-client:focus {
    border-color: var(--accent-color);
}
