.our-team {
    background-color: var(--filter-color);
}

.our-team .container {
    text-align: center;
}

.our-team .list {
    display: flex;
}

.our-team .flex-element {
    width: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--bg-nav-color);
}

.our-team .flex-element:not(:last-child) {
    margin-right: 30px;
}

.our-team-title {
    font-weight: bold;
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
}

.our-team .info-personal {
    margin-top: 30px;
    margin-bottom: 30px;
}

.our-team .list-title {
    font-weight: 500;
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.18;
    padding-bottom: 10px;
}

.our-team .list-text {
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
}


